@inject IOptions<AppSettings> AppSettings
@{
    var app = AppSettings.Value;
}
<!DOCTYPE html>
<html>
<head>
    @{
        await Html.RenderPartialAsync("Head", app);
    }
</head>
<body>
    @{
        await Html.RenderPartialAsync("Header", app);
    }
    <main role="main">
        @RenderBody()
    </main>
    @{
        await Html.RenderPartialAsync("Footer", app);
    }
    @{
        await Html.RenderPartialAsync("FootScripts", app);
    }
</body>
</html>
<!-- @app.Version -->
