@model AppSettings
@{
    var app = Model;
}
<footer>
    <hr>
    <p>
        Made by <a href="https://www.andybrewer.com" target="_blank">
            Andy Brewer
            &nearr;
        </a><br>
    </p>
</footer>
