@model AppSettings
@{
    var app = Model;
}

<header role="banner">
    <a href="/">@app.Name</a>
    <nav role="navigation">
        @{
            await Html.RenderPartialAsync("Menu", app);
        }
    </nav>
    @* @{
        await Html.RenderPartialAsync("MainMenu", app);
    } *@
</header>
