@model AppSettings
@{
    var app = Model;
}

<header>
    <nav>
        <a href="/">@app.Name</a>
        @{
            await Html.RenderPartialAsync("Menu", app);
        }
    </nav>
    @* @{
        await Html.RenderPartialAsync("MainMenu", app);
    } *@
</header>
